@media (max-width:991px) {
    .collection .colle{
        margin-bottom: 20px;
    }
    .layout .card .thumbnails{
        display: inline;
    }
    .layout .card .thumbnails li{
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .Grid .Categories-Grid .Categories-1 .Grid-Box{
        height: 265px;
    }
    .Grid .Categories-Grid .Categories-2 .Grid-Box{
        height: 265px;
    }
    .Grid .Categories-Grid .Categories-3 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-4 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-5 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-6 .Grid-Box{
        height: 265px;
    }
    .Grid .Categories-Grid .Categories-7 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-8 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-9 .Grid-Box{
        height: 121px;
    }
    .Grid .Categories-Grid .Categories-6{
        margin-right: 20px;
    }
    .the-portfolio .Categories-Grid .Categories-1 .Grid-Box{
        height: 310px;
    }
    .the-portfolio .Categories-Grid .Categories-2 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-3 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-4 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-5 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-6 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-7 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-8 .Grid-Box{
        height: 310px;
    }
    .the-portfolio .Categories-Grid .Categories-9 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-10 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-11 .Grid-Box{
        height: 155px;
    }
    .the-portfolio .Categories-Grid .Categories-12 .Grid-Box{
        height: 155px;
    }
}
@media (max-width:767px) {
    .popular .main{
        margin-bottom: 20px;
    }
    .bio-contact .image1,
    .bio-contact .image2{
        height: auto;
        margin-top: 0;
    }
    .the-blog .row .one{
        width: 100%;
        margin-bottom: 20px;
    }
    .the-blog .row .two{
        width: 100%;
        margin-bottom: 20px;
    }
    .account form span{
        float: left;
    }
    .on-sale .card .no-gutters img{
        margin-bottom: 20px;
    }
    .on-sale .card .no-gutters .center{
        padding: 0;
    }
    .home .info h2{
        font-size: 35px;
    }
    .home .info p{
        color: #ec7a5c;
        font-size: 18px;
    }
    .home .info ul li{
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    .home .info ul li a{
        font-size: 8px;
    }
    .home .info ul li a.link{
        font-size: 10px;
    }
    .Grid .Categories-Grid .Categories-1 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-2 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-3 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-4 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-5 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-6 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-7 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-8 .Grid-Box{
        height: 215px;
    }
    .Grid .Categories-Grid .Categories-9 .Grid-Box{
        height: 215px;
    }
    .the-portfolio .Categories-Grid .Categories-1 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-2 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-3 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-4 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-5 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-6 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-7 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-8 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-9 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-10 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-11 .Grid-Box{
        height: 367px;
    }
    .the-portfolio .Categories-Grid .Categories-12 .Grid-Box{
        height: 367px;
    }
    .Grid .Categories-Grid .Categories-1{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-2{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-3{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-4{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-5{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-6{
        width: 100%;
        margin-right: 0;
    }
    .Grid .Categories-Grid .Categories-7{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-8{
        width: 100%;
    }
    .Grid .Categories-Grid .Categories-9{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-1{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-2{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-3{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-4{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-5{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-6{
        width: 100%;
        margin-right: 0;
    }
    .the-portfolio .Categories-Grid .Categories-7{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-8{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-9{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-10{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-11{
        width: 100%;
    }
    .the-portfolio .Categories-Grid .Categories-12{
        width: 100%;
    }
}
@media (max-width:575px) {
    .designer-dark .card-body p:nth-child(1){
        margin-bottom: 20px;
    }
    .designer-dark .card-body h6{
        margin-top: 20px;
    }
    .contact h2{
        font-size: 40px;
    }
    .cont h6{
        font-size: 10px;
        margin-top: 20px;
    }
    .product-category .category h2{
        font-size: 40px;
    }
    .account form span{
        float: right;
    }
    .layout .card .card-body{
        margin-left: 0;
    }
    .on-sale .card h2{
        font-size: 30px;
    }
    .on-sale .card .card-body{
        margin: 0;
    }
}
@media (max-width:325px) {
    .footer .icons i{
        margin-right: 20px;
    }
    .account form span{
        float: left;
    }
    .layout .card h2{
    font-size: 25px;
    }
    .layout .card button{
    width: 100%;
}
